<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/funciones.js' %}" defer></script>
</head>
<body>
    <div class="containerForm">
        <h2>Esta seguro de eliminar este contacto: {{contacto.nombre}} ?</h2>
        <form method="post">
            {% csrf_token %}
            <button type="submit"> Eliminar</button>
        </form>
        <br>
        <a class="btn btn-delete" href="{% url 'contacto_lista' %}">Cancelar</a>
    </div>
</body>
</html>